.vscode/
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.lock-wscript
node_modules/
.npm
.eslintcache
.node_repl_history
*.tgz
.env
test.js
package-lock.json

\.idea/inspectionProfiles/Project_Default\.xml

\.idea/workspace\.xml

\.idea/

