if new_commission_rate !== null && oldStatus
    = `Your Infinito Pay account status and merchant contract are updated `
else if new_commission_rate !== null
    = `Your merchant contract with Infinito Pay is updated`
else
    = `Your Infinito Pay account status is updated`
