footer#footer
  p Should you have any queries, please contact our operators via following email address: #[a(href = `mailto: ${emailSupport}`) Infinito Pay Support]
  |
  p Thank you for using our service.
  |
  p Infinito Pay team