doctype html
html(lang="en")
    include ../../head/header
    body
        p Hello #{firstName},
        p Please click #[a(href = downloadUrl) here] to get your requested file from Infinito Pay BOT.

